script.jsbody {
    font-family: Arial, sans-serif;
    background-color: #ffccd4;
    color: #333;
}

header {
    background-color: #ff6699;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
}

button {
    background-color: #ff6699;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3366;
}

#animeForm {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #ff6699;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff3366;
}

.hidden {
    display: none;
}