<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anime Database</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Anime Database</h1>

<!-- Form for creating a new anime entry -->
<form th:action="@{/anime}" method="post">
    <input type="text" id="title" name="title" placeholder="Anime Title" required>
    <input type="text" id="genre" name="genre" placeholder="Genre" required>
    <button type="submit">Add Anime</button>
</form>

<!-- List of existing anime entries -->
<ul id="animeList"></ul>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
